<!-- Featueres section -->

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <svg xmlns='http://www.w3.org/2000/svg' class='feather text-violet feather-big' width="4em" height="4em">
            <use href="{{ `images/feather/feather-sprite.svg#shield` | relURL }}"/>
        </svg>
        <h2 class="h2">Timed Memory Recall <small class="d-none">⏰</small></h2>
        <p>Take timed memory tests to improve recall speed under pressure. Practice memory retrieval to simulate exam conditions.</p>
    </div>
    <div class="col-lg-4">
        <svg xmlns='http://www.w3.org/2000/svg' class='feather text-violet feather-big' width="4em" height="4em">
            <use href="{{ `images/feather/feather-sprite.svg#zap` | relURL }}"/>
        </svg>
        <h2 class="h2">Auto Sync with Schedule <small class="d-none">📅</small></h2>
        <p>Sync your memory training practices with your Google Calendar so you will never forget to exercise your brain.</p>
    </div>
    <div class="col-lg-4">
        <svg xmlns='http://www.w3.org/2000/svg' class='feather text-violet feather-big' width="4em" height="4em">
            <use href="{{ `images/feather/feather-sprite.svg#trending-up` | relURL }}"/>
        </svg>
        <h2 class="h2"> Leaderboard <small class="d-none">🏆</small></h2>
        <p>Compete with friends on leaderboards to keep yourself motivated.</p>
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">Learn new techniques <small class="d-none">🧠</small></h2>
        <p>Learn new memorization techniques such as the <a href="https://artofmemory.com/blog/method-of-loci/" target="_blank" rel="noopener">method of loci.</a></p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Get daily tips <small class="d-none">💡</small></h2>
        <p>Receive a daily memory tip customized for you to improve your cognitive health.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Compete daily challenges<small class="d-none">📒</small></h2>
        <p>Work on daily mini challenges that can help you make progress, one small step at a time.</p>
    </div>
</div>
